.message {
    text-align: right;


}

.imageAndText {
}

.imageAndText img {
height: 50px;
}

.text {
background: blue;
    color:white;
}

.text:after {

}

.name {

}

.messageText {

}

.time {
    font-size: small;
}









