.item {
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
}

.container {
}

.thead {
    background-color: lightgray;
    font-weight: bold;
}

.nameCol {
    width: 20%;

}

.ageCol {
    width: 20%;

}