.friendMessage {
    text-align: left;
}

.friendImageAndText {

}

.friendImageAndText img {
    height: 50px;
}

.friendText {
    background: lightblue;
    color:black;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    font-size: small;
}




