.greetingForm {
    margin-top: 20px;
}

.inputAndButtonContainer {
}

.error {
    color: red;
}

.input {
}

.input:focus {
}

.errorInput {
    border: 2px solid red
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
